# Banco de dados
POSTGRES_DB=collect_prices
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha_segura

# Conexão com frontend e API Flask
DATABASE_URL=postgresql://postgres:sua_senha_segura@db:5432/collect_prices
VITE_API_URL=http://localhost:5000
CORS_ORIGIN=http://localhost:5173